# Python & Data analysis study by using Titanic dataset 

## Group Edge

## import library and dataset

In [7]:
import pandas as pd

In [8]:
train = pd.read_csv("/Users/user/Desktop/python/dataset/train.csv")
gender = pd.read_csv("/Users/user/Desktop/python/dataset/gender_submission.csv")

## explore dataset

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [10]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

# explore categorical variable

## Pclass의 유무에 따른 생존률

* train셋에서 Pclass = 3 인 경우의 생존률을 살펴보았다.
* 0.13정도의 확률로 생존하였음을 확인할 수 있다. 
* 반면, Pclass = 1인 경우는 확률이 0.25로 Pclass의 차이에 따른 생존율에 차이를 확인할 수 있었다.

In [45]:
sum((train["Pclass"]  == 3) & (train["Survived"] == 1)) / len(train)

0.1335578002244669

In [46]:
sum((train["Pclass"] == 1) & (train["Survived"] == 1)) / len(train)

0.1526374859708193

###  Sex에 따른 생존률
* 성별에 따른 생존률에 차이 또한 있을 것이라 생각하였다. 
* 아래 결과에서 확인할 수 있다시피, 
* 여성의 경우 0.265 정도의 생존률을 보였지만 
* 남성의 경우 0.12 정도로 여성에 비해 상당히 낮은 생존률을 보였다.

In [48]:
sum((train["Sex"]  == 'female') & (train["Survived"] == 1)) / len(train)

0.2615039281705948

In [47]:
sum((train["Sex"]  == 'male') & (train["Survived"] == 1)) / len(train)

0.122334455667789

##  explore continous variable

### Fare 수준에 따른 생존률
* 좌석의 등급뿐만 아니라 좌석의 요금 또한 생존률에 영향을 미친다고 판단했다. 
* Fare의 경우 중간값(median) 이상의 수준 승객의 생존률이 높을 것이라 생각하였다.
* Fare의 median은 79.2정도였으며, 그 이상의 뱃값을 지불한 승객들의 생존률을 약 26%였다.

In [58]:
quant = test["Fare"].quantile(0.5)
quant

0.25925925925925924

In [59]:
sum((train["Fare"]  >= quant) & (train["Survived"] == 1)) / len(train)

0.25925925925925924

## Summary 
* 우리가 여지까지 고려한, {Pclass, Sex, Fare} 변수를 바탕으로 생존률을 측정하였다.
* Pclass = 1 , Sex = female and Fare > median of Fare 인 경우 우리는 해당 승객이 생존했을 것이라 판단했다. 
* 이를 Kaggle에 제출한 결과 정확도 65~72% 수준의 결과를 가질 수 있었다.

In [61]:
test['Survived'] = np.where(test["Pclass"] == 1, 1,0)  & np.where(test["Sex"] =='female',  1, 0) & np.where(test["Fare"] > test["Fare"].quantile(0.5),1,0)

In [62]:
test["Survived"].tail()

413    0
414    1
415    0
416    0
417    0
Name: Survived, dtype: int64

## Future works

* 각각의 독립변수들을 하나의 인자로 묶어서 생존률을 생존율을 측정할 필요가 있다.
* 데이터를 살펴본 결과, 각각의 변수들이 생존률에 영향을 미친다는 것을 알 수 있었다. 
* 단, 그 영향이 실제로 유의미한 것인지 확인해 볼 필요성을 느꼈다.